name: Go

on:
  push:
    branches:
    - main
    - v[0-9]*
  pull_request:
    branches:
    - main
    - v[0-9]*
  schedule:
  - cron: '40 1 * * 2'

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: "src/go.mod"
    - run: go run github.com/onsi/ginkgo/v2/ginkgo -r --procs=3 --compilers=3 --randomize-all --randomize-suites --fail-on-pending --keep-going --race --trace
      working-directory: src

  vet:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: "src/go.mod"
    - run: go vet ./...
      working-directory: src

  lint:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: "src/go.mod"
    - uses: golangci/golangci-lint-action@v9.0.0
      with:
        working-directory: src
        args: --timeout 5m
